.side-ber
  .header
    .header__box
      .header__box__name
        = current_user.name
        name
      .header__box__menu
        = link_to "#",class: "header__box__menu__btn" do
          = icon('fas', 'edit', class: "header__box__menu__btn--icon")
        = link_to  edit_user_path(current_user),class: "header__box__menu__btn" do
          = icon('fas', 'cog', class: "header__box__menu__btn--icon")

  .groups
    .groups__group
      .groups__group__group-name
        groupname
      .groups__group__group-message
        こんにちは

    .groups__group
      .groups__group__group-name
        groupname
      .groups__group__group-message
        こんにちは
  